#contorno {
    fill: rgb(51, 255, 0);
    stroke: #ED1C24;
    stroke-width: 0.5;
    stroke-dasharray: 213 0.5;
    stroke-dashoffset: 10;
}

svg {
    width: 80px;
    height: auto;
}

#g30 {
    transform-origin: 25px 44px;
    animation: girar 4s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}